<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jm.schoolproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.ExerciseSetting" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity android:name=".fragment.FeedbackSetting" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity android:name=".activity.ExerciseActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.FeedbackResultActivity" />
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.SignUpActivity"/>
        <activity android:name=".fragment.GoalSetting" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <activity android:name=".activity.FeedbackPageActivity"/>
        <activity android:name=".activity.FeedbackPageItemActivity"/>
    </application>
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>